.mobile-nav {    
    position:fixed;
    z-index: 2;
    width: 100%;
    top:0;
    left: 100%;
    min-height: 100vh;
    /* background-color: var(--bg-background); */
    transition: 0.4s;
    padding: 100px 20px;
}

.mobile-nav.is-open {
	left: 0;
}

.mobile-nav-links {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.mobile-nav-links a {
    color: #fff; 
    text-decoration: none;   
}
.mobile-nav-links a:hover{
    color: var(--bg-main);
}