:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-font-color: #fff;
  --nav-height: 80px;
    /* --bg-background: #171717;   */
  /* --bg-background: #212121;   */
  --bg-background: #0C0F1D;  
  /* --bg-main: #7289da; */
  --bg-main: #3F97E9;
  --bg-main-hover: #519fe9;
  --lesser-text-color:#9e9e9e;
  --link-color:#fff;
  /* --error-text:#d32f2f; */
  --error-text:#FF6969;
  --default-border:#B4B4B8;
  --main-text-color:#fff;
}

html {
  /* overflow: hidden; */
}

html,
body {
    max-width: 100vw;
    height: 100%;

  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 1rem;
  height: calc(100vh - var(--nav-height));  
  margin-top: calc(80px + 1rem);
  /* padding-bottom: 5rem; */
}
h1 {
    font-size: 1.75rem
}
h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

a {
    color: var(--main-font-color);
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.noDecoration {
    text-decoration: none;
}

.display-desktop,
.display-tablet {
    display: none;
}

.display-mobile {
    display: block;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden; 
}

@media (min-width: 640px) {
    h1 {
        font-size: 2em;
    }
    main {                
        margin-top: calc(80px + 2rem);
    }
}

@media (min-width: 891px) { 
    .display-mobile,
    .display-desktop{
      display: none;
    }
    .display-tablet {
      display: initial;
    }
}

@media (min-width: 1024px) {
    main {                
        margin-top: calc(80px + 4rem);
    }
}

@media (min-width: 1280px) { 
  main {
    padding: 0 3rem /* 48px */;    
  }

  .display-mobile,
  .display-tablet{
    display: none;
  }
  .display-desktop {
    display: initial;
  }
}

@media (min-width: 1536px) {
    main {
        padding: 0 7rem /* 112px */;      
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0F1D;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }

  body {
    color: white !important;
  }
}