.featured {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
}

@media (min-width: 640px) { 
    .featured {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(2, 202px);
        gap: 1rem;
        width: 100%;
        height: 450px;
    }
}